@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: inherit;  
    font-size: 16px; 
}  
  
/* NAV CODE */
nav {
    width: 1349px;
    height: 60px;
    padding: 2px 6px; 
    z-index: 99;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase; 
} 

/* NAV MENU */
nav > .nav-menu {
    width: 1349px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px auto;
    position: relative;
    list-style: none; 
    font-size: 1rem; 
}

/* NAV LOGO */
nav > .nav-menu > .logo {
    width: 230px;
    height: 47px;
    padding-right: 30px;
    display: inline-block;
} 

nav > .nav-menu > .logo > a > img {
    width: 100%; 
    height: 41.563px;
} 

/* NAV - COUNTRY */
nav > .nav-menu > .country {
    width: 139.422px;
    height: 60px;
    margin-top: 0;
    display: block;
    font-size: .725em;   
    font-weight: 300; 
    position: relative;
}

nav > .nav-menu > .country:hover > .country-list {
    display: block; 
    visibility: visible; 
}   

nav > .nav-menu > .country > .m-country {
    width: 93.022px;
    height: 60px; 
    padding: 0 2em;  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;   
    font-weight: 300; 
}   

nav > .nav-menu > .country > .m-country:hover {
    color: #f26b21; 
}

nav > .nav-menu > .country > .m-country > img {
    width: 10px;
    height: 5px;
    margin-left: 5px; 
} 

nav > .nav-menu > .country > .country-list { 
    display: none;    
    width: 132.203px;
    height: 422.250px;
    left: auto;
    position: absolute;
     z-index: 1111;  
    padding-bottom: 16px; 
    list-style: none;
    background-color: #000; 
    top: 100%; 
    visibility: hidden;   
}     
 
nav > .nav-menu > .country > .country-list > .list-item {
    font-size: 1rem;  
    width: 84.203px;   
    height: 19.188px;    
    padding: 8px 24px ; 
    color: #fff;
}     

nav > .nav-menu > .country > .country-list > .list-item:hover {
    background-color: #f26b21; 
} 

/* NAV - MENUS */
nav > .nav-menu > .menu {
    width: 100.812px;
    height: 60px; 
    margin-top: 0;  
}

nav > .nav-menu > .menu:hover {
    color: #f26b21;  
}

nav > .nav-menu > .menu:hover > .sub-menu {
    visibility: visible; 
}

nav > .nav-menu > .menu > .menu-title {
    width: 36.812px;
    height: 60px;
    padding: 0 2em; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
} 

.menu > .sub-menu {
    width: 264.094px;
    height: 70.375px;
    padding-bottom: 1em; 
    left: 350;  
    position: relative;
    z-index: 1111;  
    background-color: #000; 
    visibility: hidden; 
}  

.menu > .sub-menu > li {
    width: 264.094px;
    height: 70.375px; 
    display: block;  
}   
 
.menu > .sub-menu > li > a {
    width: 264.094px;
    height: auto;  
    padding-top: 8px;
    padding-bottom: 8px;     
    text-decoration: none; 
    color: #fff; 
    display: inline-flex;   
}

.menu > .sub-menu > li > a:hover {
    background-color: #f26b21;
}  

.menu > .sub-menu > li > a > i {
    width: 16px;
    height: 16px;
    padding-left: 18px;
    padding-right: 15px; 
}
  
/* NAV - FIND A RESTAURANT  */
nav > .nav-menu > .far {
    width: 195.250px;
    height: 60px;
    margin-top: 0; 
}

nav > .nav-menu > .far > a {
    width: 131.250px;
    height: 60px;
    padding: 0 2em;
    color: #fff; 
    text-decoration: none; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav > .nav-menu > .far >a:hover {
    color: #f26b21; 
} 

/* NAV - CONTACT US */
nav > .nav-menu > .c-us {
    width: 144.375px;
    height: 60px;
    margin-top: 0px;
} 

nav > .nav-menu > .c-us > a {
    width: 80.375px;
    height: 60px;
    padding: 0 2em;
    color: #fff;
    text-decoration: none; 
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}

nav > .nav-menu > .c-us > a:hover { 
    color: #f26b21;
}

/* NAV - SEARCH */
nav > .nav-menu > .search {
    width: 100px;
    height: 38px;
    margin-top: 0;
    display: block;
}

nav > .nav-menu > .search > .search-btn {
    width: 28px;
    height: 36px;
    padding: 1px 6px;
    margin: 0px 30px;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #a3a4a8;
    cursor: pointer;
} 

/* FONT FOR SEARCH SECTION */ 
/* font-size: 1em;
font-family: Oswarld, sans-serif;
font-weight: 700;
text-transform: uppercase;
border: none;
outline: none;  */
  


/* MAINBODY SECTION  */

main.roco-cw {
    width: 1349px;
    height: 574.188px;
    background-color: #fff;
    position: relative; 
}

main.gb {
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    flex: 1 0 auto;
    display: block; 
}  

.hero-section {
    width: 100vw;
    height: calc(100vh - 62px);
    position: relative;
    overflow: hidden;
}

.sliding-images { 
    width: 901.547px;
    height: 422.594px;
    margin-left: 232.219px; 
    margin-right: 232.219px;
    
}   

.image-items > .r-image {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row; 
    position: relative;
    transition: left 2s; 
    -webkit-transition: left 2s; 
    list-style: none;
}
 
.r-image{ 
    position: relative;
    float: left;
} 


 
.banner-video {
    width: 1349px; 
    height: auto; 
}   

/* FOOTER CODE */
footer {
    width: 1349px;
    height: 109.031px;
    padding-bottom: 15px;
    font-family: Open Sans,serif, arial; 
    font-weight: 400;
    background-color: #2c2c2c;
}
 

/* NAV ITEMS CODE */
.bottom {
    width: 1349px;
    height: 89.031px;
    padding: 10px 0;
} 
 
.nav-items {
    width: 1140px;
    height: 51.031px;
    padding: 20px 0px 20px 20px;
    margin: 0 84.500px;
    display: flex;
    justify-content: center; 
    align-items: center; 
} 

.nav-items > ul {
    width: 480.438px;
    height: 51.031px;
    padding: 0px 50px;
    margin: 0px 50.891px;
    display: flex; 
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative; 
} 

.nav-items > ul > li {
    width: 100%; 
    height: 19.188px;
    margin-top: 0;
    display: list-item; 
    align-items: center;
    font-size: .888em;
    color: #fff; 
    list-style: none;
    text-decoration: none;
    cursor: pointer;
     
}  

.nav-items > ul > li:nth-child(1){       
    width: 34.58px;
    height: 100%;
    padding-right: 25px; 
}   

.nav-items > ul > li:nth-child(2) {
    width: 130.75px;
    height: 100%;
    padding-right: 25px;  
}    

.nav-items > ul > li:nth-child(3) {
    width: 69.453px; 
    height: 100%;
    padding-right: 25px; 
}   
.nav-items > ul > li:nth-child(4) {
    width: 57.45px; 
    height: 100%;
    padding-right: 25px;  
}

.nav-items > ul > li:nth-child(5) {
    width: 63.58px;  
    height: 100%;
    padding-right: 25px; 
} 

/* SOCIAL LINKS CODE */

 .social-links {  
    width: 256px;
    height: 51.031px;
    padding: 0px 50px;
    margin: 0px auto;  
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    list-style: none; 
}

.social-links-div >.social-links > .social-item {
    width: 48px;
    height: 51.031px;
    display: block;
    color: #fff; 
    padding-left: 8px;
    padding-right: 8px;  
}    
 
.social-links > .social-item > img {
    width: 48px;
    height: 48px; 
}

/* DISCLAINER  */

.disclaimer {
    width: 1125px; 
    height: 18px;
    padding-left: 20px;
    padding-right: 20px; 
    margin-left: 84.500px;
    margin-right: 84.500px;
     display: flex;  
     justify-content: center; 
    color: #fff; 
}  