@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-size: 16px; 
}  
 

/* NAV SECTION */

/* NAV STYLES */
nav {
    width: 1349px;
    height: 60px; 
    padding: 2px 6px 0px 0px; 
    background-color: #000;
    box-sizing: inherit; 
    display: block; 
    font-weight: 700;
}    

/* NAV LOGO */
nav > .inner-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    box-sizing: inherit;
}  

nav > .inner-menu > .logo > a {
    width: 230px;
    height: 47px;
    padding-right: 30px; 
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    color: #fff; 
} 

nav > .inner-menu > .logo > a > img {
    width: 230px; 
    height: 42px; 
}  


/* NAV - FIND YOUR COUNTRY */
nav > .inner-menu > .country {
    margin-top: 0;
    display: block;
    font-size: 0.725rem;
    font-weight: 300;
    width: 139.422px;
    height: 60px; 
      
}   

 nav > .inner-menu > .country > .rsa { 
    display: inline-flex;  
    align-items: center; 
    justify-content: center;
    width: 93px;
    height: 60px;
    padding: 0 23px;
    color: #fff;
    text-decoration: none;
}    

nav > .inner-menu > .country > .rsa:hover {
    color: #f26b21; 
    cursor: pointer;
} 
 
nav > .inner-menu > .country > .rsa > text {
    display: inline-flex;  
    font-size: 12px;    
}    
  
nav > .inner-menu > .country > .rsa > img {
    width: 10px;
    height: 5px;
    margin-left: 5px;
    color: #fff;
}  

nav > .inner-menu > .country > .country-list {
    width: auto;
    height: auto;
    left: auto; 
    padding-bottom: 16px; 
    font-size: none; 
    list-style: none;
    position: absolute;
    z-index: 1111;
    background-color: #000; 
      
}
 

nav > .inner-menu > .country > .country-list > .list-item {
    font-size: 12px; 
    width: 84.203px;
    height: 30px;  
    padding: 8px 24px ; 
    display: block;  
    align-items: center;
    justify-content: center; 
    color: #fff;  
}




   
